body{
	font-family: "Heiti TC", "微軟正黑體";
	margin:30px;
	height:100%;
}

.search-btn{
	margin-left:10px;
}

@media screen and (max-width:767px) {
	.search-btn{
		margin-left:0px;
	}
}

.content{
	margin-top:20px;
}

/*table欄位寬度*/
.tableName{
	width:15%;
}
.tableCategory{
	width:10%;
}
.tableTel{
	width:15%
}
.tableAdress{
	width:50%;
}
.tablePrice{
	width:10%
}

.footer{
	position: relative;
	margin-top:50px;
	height: 50px;
	width: 100%;
}

/*modal置中*/
.modal {
  	text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  	display: inline-block;
  	text-align: left;
}

/*modal背景透明*/
.modal-backdrop
{
    opacity:0.65 !important;
}