body{
	font-family: "Heiti TC", "微軟正黑體";
	margin:30px;
	height:100%;
}

.content{
	margin-top:20px;
}

#search-input {
	width: 300px;
}

/*table欄位寬度*/
.tableName{
	width:20%;
}
.tableCategory{
	width:10%;
}
.tableTel{
	width:20%
}
.tableAddress{
	width:30%;
}
.tablePrice{
	width:20%
}

.footer{
	position: relative;
	margin-top:50px;
	height: 50px;
	width: 100%;
}

/*modal置中*/
.modal {
  	text-align: center;
}

.modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
}

.modal-dialog {
  	display: inline-block;
  	text-align: left;
}

/*modal背景透明*/
.modal-backdrop {
    opacity:0.65 !important;
}

/*防止modal的內容overflow*/
.modal-body {
  word-wrap: break-word;
}

@media screen and (max-width:767px) {
	.search-btn{
		margin-left:0px;
	}
	body {
		margin: 10px;
	}
	.panel-body {
		padding: 5px 5px;
	}
	#search-input {
		width: 100%;
	}
	.footer {
		text-align: center;
	}
	.modal-dialog {
    	width: 80%;
    }

    .tableName{
		width:40%;
	}
	.tableCategory{
		width:20%;
	}
	.tableTel{
		width:40%;
	}
	.tableAddress{
		display: none;
	}
	.tablePrice{
		display: none;
	}
}

#map {
	width: 100%;
	height: 250px;
}